<div class="jumbotron">
  <h1>UnderTweeting</h1>
  <p>Presented by @Eleonora, @Jules, @Gowshik, @João and @Adrien</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Follow Us</a></p>
</div>


<div class="row" id="#first-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Introduction</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("adrien.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">Twitter Business Model</span>
    		<span class="tweet-username">
    			@Adrien
    		</span>
			</div>
    	</div>

    <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("1.png", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#hello", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="hello">
                <%= image_tag("1.png", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 15:30</h5>
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#second-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Weaknesses</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("joao.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">Weaknesses</span>
    		<span class="tweet-username">
    			@Joao
    		</span>
			</div>
    	</div>

    <div class="col-md-10 col-md-offset-2"> 
    		<%= image_tag("2.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>	
				<%= link_to "Bigger", "#hey", class: "fancybox" %>
					<div style="display:none;">
		    	<a href="" id="hey">
		    	<%= image_tag("2.jpg", height: "700", width: "700", class: "image-tweet") %>	
		    	</a>
			    </div>    
    </div>

		<div class="col-md-12">
	    <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Resource Based View Model</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("ele.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">RBVM</span>
    		<span class="tweet-username">
    			@Eleonora
    		</span>
			</div>
            <div class="col-md-1">
            <%= image_tag("jules.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">RBVM</span>
            <span class="tweet-username">
                @Jules
            </span>
            </div>
    	</div>

        <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("3.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#ha", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="ha">
                <%= image_tag("3.jpg", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Capabilities</h3>
      </div>
  <div class="panel-body">

    <div class="row">
        <div class="tweet-header">
            <div class="col-md-1">
            <%= image_tag("ele.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">Capabilities</span>
            <span class="tweet-username">
                @Eleonora
            </span>
            </div>
            <div class="col-md-1">
            <%= image_tag("jules.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">Capabilities</span>
            <span class="tweet-username">
                @Jules
            </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("4.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#hel", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="hel">
                <%= image_tag("4.jpg", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

        </div> <!-- end of row -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">SPACE Matrix</h3>
      </div>
  <div class="panel-body">

    <div class="row">
        <div class="tweet-header">
            <div class="col-md-1">
            <%= image_tag("raj.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">SPACE Matrix</span>
            <span class="tweet-username">
                @Gowshik
            </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("5.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#guy", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="guy">
                <%= image_tag("5.jpg", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

        </div> <!-- end of row -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Twitter TV</h3>
      </div>
  <div class="panel-body">

    <div class="row">
        <div class="tweet-header">
            <div class="col-md-1">
            <%= image_tag("adrien.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">Twitter TV</span>
            <span class="tweet-username">
                @Adrien
            </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("6.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#ere", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="ere">
                <%= image_tag("6.jpg", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

        </div> <!-- end of row -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Solutions</h3>
      </div>
  <div class="panel-body">

    <div class="row">
        <div class="tweet-header">
            <div class="col-md-1">
            <%= image_tag("joao.jpg", height: "100", width: "100") %>
            </div>
                <div class=" tweet col-md-4 col-md-offset-0">
            <span class="tweet-title">Data Solutions</span>
            <span class="tweet-username">
                @Joao
            </span>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-2"> 
            <%= image_tag("6.jpg", height: "300", width: "300", class: "image-tweet") %> <br><br>   
                <%= link_to "Bigger", "#haha", class: "fancybox" %>
                    <div style="display:none;">
                <a href="" id="haha">
                <%= image_tag("6.jpg", height: "700", width: "700", class: "image-tweet") %>    
                </a>
                </div>    
    </div>

        <div class="col-md-12">
        <h5>Tweeted the 24/02/2015 at 16:30</h5>
    </div>

        </div> <!-- end of row -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
</div> <!-- end of first slide -->

<!-- START DISQUS -->

<div class="disqus col-md-12">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'twitterpresentation'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

    </div>

<!-- SCRIPT FANCYBOX -->

<script>
$(document).ready(function() {
  $("a.fancybox").fancybox();
});
</script>
